[Desktop Entry]
Version=1.0
Name=Password Gorilla
Comment=a password manager
Comment[de]=Programm zum Verwalten von Passwörtern
Comment[it]=Programma per la gestione delle password
Type=Application
Exec=password-gorilla
Icon=password-gorilla
StartupNotify=false
Terminal=false
Categories=Utility
StartupWMClass=Gorilla
